<!DOCTYPE html>
<html>

<head>
    <title>Calculator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<center>

    <body>
        <h1>GG Calculator</h1>
        <img src="/images/pika.jpg" alt="roidpika" />
        <form action="">
            <label>Value 1</label>
            <br>
            <input type="number" name="valOne" id="ValOne">
            <br>
            <br>
            <label>Value 2</label>
            <br>
            <input type="number" name="valTwo" id="ValTwo">
            <br>
            <br>
            <button type="submit">Calculate</button>
        </form>
        <br>
        <p>Numbers to calculate: <%= val1 ? val1 : 0 %> & <%= val2 ? val2 : 0 %>
        </p>
        <p>Add <br>
            <%= val1 ? val1 : 0 %> + <%= val2 ? val2 : 0 %> = <%= add ? add : 0 %>
        </p>
        <p>Subtract <br>
            <%= val1 ? val1 : 0 %> - <%= val2 ? val2 : 0 %> = <%= subtract ? subtract : 0 %>
        </p>
        <p>Multiply <br>
            <%= val1 ? val1 : 0 %> * <%= val2 ? val2 : 0 %> = <%= multiply ? multiply : 0 %>
        </p>
        <p>Divide <br>
            <%= val1 ? val1 : 0 %> / <%= val2 ? val2 : 0 %> = <%= divide ? divide : 0 %>
        </p>
        <a href="/">Back to home</a>
    </body>
</center>

</html>